html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

ul {
  height: 48px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 12px;
  line-height: 27px;
  margin: 7px;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.page {
  width: 100%;
  height: 100%;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 6px;
}

.nav__item--profile a {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  background-image: url(img/avatar.jpg);
}

.main {
  text-align: center;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.main_logo {
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 140px;
  width: 212px;
}

.main__form {
  max-width: 560px;
  margin: 0 auto;
  color: #9aa0a6;
}

.form-group {
  display: flex;
  align-items: center;
  position: relative;
  height: 44px;
  width: 100%;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 5px 8px 0 16px;
}

.form-logo-search {
  display: flex;
}

.pesquisa-texto {
  width: 450px;
  height: 30px;
  border: none;
}

.main__submit {
  margin-top: 25px;
}

.main__submit--search,
.main__submit--lucky {
  padding: 0 16px;
  background-color: #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  margin: 11px 4px;
  height: 35px;
  cursor: pointer;
  color: #3c4043;
  border-style: none;
  font-family: Arial, sans-serif;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.footer__list {
  display: flex;
  color: #70757a;
  align-items: center;
}

.footer__item {
  padding-left: 20px;
  font: 14px Arial, Sans-Serif;
}
