nav {
    padding: 6px;
}

ul {    
    height: 48px;
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

li {
    margin: 7px;    
    font-size: 12px;
    line-height: 27px;    
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.container-logo {
    display: flex;         
    justify-content: center;        
    
}

.logo {    
    margin-top: 140px;
    width: 212px;
    
}



